<div class="col-sm-1">
    <label class="control-label">@Resources.Language.Node</label>
</div>
<div class="col-sm-2">
    <select id="NodeId" name="NodeId" class="form-control col-md-7 col-xs-12">
        @{
            var strSelect = "";

            for (var iType = 0; iType < ViewBag.Nodes.Count; iType++)
            {
                if (ViewBag.Nodes[iType].Value == ViewBag.NodeId.ToString())
                {
                    strSelect = " selected ";
                }
                else
                {
                    strSelect = "";
                }
                <option value="@ViewBag.Nodes[iType].Value" @strSelect> @Html.Raw(HttpUtility.HtmlDecode(@ViewBag.Nodes[iType].Text))</option>
            }


        }

    </select>
</div>