@model System.String



<div style="background-color: #A52A2A; color: White; height: 10px;">
</div>
<div style="    background-color: #FFF; color: #000; height: 170px;">
    <div style=" padding:20px;">
        <h3>
            Application Error:@ViewBag.error
        </h3>
        <h4>
        </h4>

        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>  