
<div id="eventdeflist" class="divEventStatus">
    <div>
        @{ 
            List<Model.DataModel.tblEventDef> lst = new List<Model.DataModel.tblEventDef>();
            lst = new Model.Dao.EventDefDao().listAll();
        }
        @foreach (var ev in lst)
        {
			string[] names = ev.Name.Split('-');
			string name = ev.Name;
			if(names.Length==2){
				name = names[1];
			}
            <div class="divEvent">
                <div class="divEventColor" id="EventDef_@ev.Id" style="background-color:@ev.Color">&nbsp;</div>
                <div class="divEventText">@Html.Raw(name)</div>
            </div>
        }

        @*<div class="divEvent">
                <div id="EventDef_0" style="background-color:white">&nbsp;</div>
                <span>N/A</span>
            </div>*@

    </div>
</div>

<style>
    .divEventStatus {
        height: 45px;
        padding: 0px;
    }

    .divEvent {
        float: left;
        padding-right:30px;
        height: 36px
    }

        .divEvent div {
            float: left;
            /*width: 50px;*/
            height: 45px;
        }
    .divEventColor{
        float:left;
        width: 50px;
    }

        .divEvent span {
            margin-left: 5px;
            font-size: 16pt;
            font-weight: bold;
            line-height: 50px;
        }

    .divEventText {
        font-size: 20px;
		line-height: 45px;
        padding-left: 10px;
        font-weight: bold;
        width:calc(100% -50px);
    }
</style>
