<?xml version="1.0" standalone="yes"?>
<SVAW>
  <CONFIG>
    <Key>TimeOut</Key>
    <Text>Thời gian chuyển màn hình (Nhập 0 nếu không cho chuyển)</Text>
    <Value>150</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>LoadedTime</Key>
    <Text>NodeOnline</Text>
    <Value>2019/08/23 09:12:26</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay0</Key>
    <Text>Màn hình Giám sát trạng thái vận hành máy</Text>
    <Value>150</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay1</Key>
    <Text>Màn hình hiệu suất tổng thể các loại máy</Text>
    <Value>10</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>4</Text>
    <Value>10</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>5</Text>
    <Value>10</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>6</Text>
    <Value>10</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1007</Text>
    <Value>10</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1008</Text>
    <Value>10</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1010</Text>
    <Value>10</Value>
    <Enable>true</Enable>
  </CONFIG>
</SVAW>